.signup{
    margin-top: 3%;
    margin-right:25%;
    margin-left:25%;
    
  }
  .form1{
    background-image: url(https://shorturl.at/nH016);
    background-size: cover;
    height: 95vh;
    
    /* background-color: gray; */
    /* margin-right:25%;
    margin-left:25%;
    margin-top: 3%;
    height: 65vh; */
   
    
  }